h1, h2, h3, h4, h5, h6, a, p {
    color: aliceblue;
    text-decoration: none;
}

h1, h3 {
    font-family: 'Gotham Bold', serif;
}

h1 {
    font-size: 6em;
}

h2 {
    width: 100%;
    font-family: 'Gotham Black', serif;
    font-size: 3em;
    line-height: 1em;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 2em 0 0.5em;
}

h3 {
    font-size: 2em;
    padding: 2em 0 0.5em;
}

h4 {
    font-size: 1.3em;
    padding: 2em 0 0.5em;
}

h5 {
    font-size: 1.3em;
}

h4, h5, h6 {
    font-family: 'Gotham Light', serif;
}

a, p {
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

a {
    font-family: 'Gotham XLight', serif;
    font-size: 1em;
}

p {
    font-family: 'Gotham XLight', serif;
    font-size: 1em;
    padding: 1em 0;
}

/* Gotham */

@font-face {
    font-family: "Gotham Black";
    src: url("../fonts/Gotham/GothaProBla.otf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/Gotham/GothaProBol.otf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gotham Light";
    src: url("../fonts/Gotham/GothaProMed.otf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gotham XLight";
    src: url("../fonts/Gotham/GothaProReg.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gotham Thin";
    src: url("../fonts/Gotham/GothaProLig.otf") format("truetype");
    font-style: normal;
    font-weight: 300;
}


