html {
    scroll-behavior: smooth;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, button, iframe {
    margin: 0;
    padding: 0;
    border: none;
}

audio {
    width: 30em;
    height: 2em;
}

div, button, h1, h2, h3, a, p, :hover {
    transition: .3s all ease-out;
}

.red:hover {
    background-color: #e84c3e
}

.blue:hover {
    background-color: #0794b8
}

.yellow:hover {
    background-color: #f1dd0a
}

.orange:hover {
    background-color: #e8713d
}

.green:hover {
    background-color: #40b872
}

.crayola:hover {
    background-color: #a5b5fc;
}

.pink:hover {
    background-color: #ef7aa6;
}

.canary:hover {
    background-color: #57E2E5;
}

button {
    border-radius: 50em;
    padding: 0.5em;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    background-color: rgb(162 162 162 / 25%) !important;
    /*background-color: rgba(238, 238, 238, 0.23) !important;*/
}

.wrapper {
    margin: 0 auto;
    max-width: 70em;
    min-width: 55em;
    padding: 0 3em;
    position: relative;
}

#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

#menu-wrapper {
    height: 3em;
    margin: 1.5em 2em;
    padding: 0 1em 1em;
    border-bottom: white solid 0.1em;
    transition: .3s all ease-out;
}

#menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#menu button {
    height: fit-content;
    width: fit-content;
    margin: 0.5em 0;
}

#logo {
    height: 3em !important;
    width: 7.5em !important;
    margin: 0 !important;
    padding: 0 !important;
}

#logo h1 {
    padding: 0 0.15em;
    width: fit-content;
    font-size: 4em;
}

#logo:hover {
    background: none !important;
}

#nav {
    margin: auto 0;
}

#butt {
    border: white solid 0.1em;
    width: 7.5em !important;
}

/* Intro */

#intro {
    height: 115vh;
    max-height: 70em;
    padding: 6em 3em 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

#intro .wrapper {
    max-height: 55em;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


#company {
    display: flex;
    height: calc(95vh - 4em);
    max-height: 55em;
    align-items: center;
    justify-content: space-between;
}

#name {
    display: flex;
    align-items: baseline;
    top: 33vh;
    left: 0;
}

#desc {
    width: 21em;
    top: 38vh;
    right: 0;
}

/* about */

#about-wrapper {
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
}

#grad {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
}

#about a, #about p {
    color: #696969;
}

#about h2 {
    margin: 1em 0;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(230deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-desc {
    width: 25em;
}

.about-cont {
    margin: 5em 0;
}

#date1, #date2 {
    display: inline;
}

#about-img {
    position: relative;
    width: 30em;
}

#about img {
    margin-top: 25vh;
    height: 30em;
}

/* Services */

#services-wrapper {
    background-color: #f4f4f4;
    padding-bottom: 4em;
}

#services {
    display: flex;
    flex-wrap: wrap;
}

.services-cont {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em 0 0 0;
}

.el2 {
    grid-template-columns: 1fr 1fr;
}

.el3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.services-block {
    display: flex;
    /*height: fit-content;*/
    flex-direction: column;
    border-radius: 0.4em;
    padding: 0.5em;
}

.services-block h3 {
    font-size: 1.5em;
}

.services-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-img, .medium-img, .small-img, .news-block img {
    box-shadow: 0 0 10px 0 rgb(105 105 105 / 50%);
}

.big-img {
    height: 290px;
}

.medium-img {
    height: 160px;
}

.small-img {
    height: 100px;
}

.services-price {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: rgb(180 180 180 / 60%);
    padding: 0 1em;
}

.services-price:hover {
    background-color: #ffffff !important;
}

.services-block:hover .services-price {
    background-color: rgb(255 255 255 / 85%);
}

.services-block:hover .big-img, .services-block:hover .medium-img {
    outline: #ffffff 1px solid !important;
}

/* Price List */

#price-list {
    position: relative;
    padding: 2em 1em;
    text-align: center;
    background: linear-gradient(90deg, #48a4f7, #bc42ab);
}

#price-list a:hover {
    text-decoration: underline;
}

#price-list-anchor {
    top: -40vh;
    position: absolute;
}

/* Example */

#example-wrapper {
    background-color: #323236;
    padding-bottom: 4em;
}

.example-block {
    margin: 0 0 0 30em;
}

/* Reviews */

#reviews-wrapper {
    background-color: #ffffff;
    padding-bottom: 4em;
}

#reviews-cont {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 2em 0 0 0;
}

.reviews-block {
    outline: black 1px solid;
    padding: 1em;
}

/* News */

#news-wrapper {
    background-color: #f4f4f4;
    padding-bottom: 4em;
}

#news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#news h2 {
    -webkit-background-clip: text;
    color: transparent !important;
    background-image: linear-gradient(to right, #fc354c, #03ccc9);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    padding: 2em 0 0.5em !important;
    margin: 0 15em 0.5em 0;
}

.news-block {
    width: 48%;
}

.news-block img {
    width: 100%;
    /*border-radius: 0.7em;*/
    border: black 2px solid;
}

.news-block h4 {
    padding: 1em 0 0.5em;
}

.news-block p {
    color: #707070 !important;
    font-size: 0.8em;
    padding: 0.5em 0;
}

/* Footer */

#footer-wrapper {
    position: relative;
    padding-bottom: 2em;
    background: linear-gradient(to right bottom, #fc354c, #0abfbc);
}

#footer-contact {
    display: flex;
    padding: 3em 0;
}

#footer-contact h2 {
    padding: 0;
}

#footer-contact-desc {
    justify-content: flex-end;
}

#footer-contact-desc, #footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#footer-tel {
    text-align: end;
}

#footer-social div {
    width: 16em;
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    border-top: #ffffff 2px solid;
    margin: 0 0 2em;
    padding-top: 0.5em;
    justify-content: space-between;
    width: 30em;
}

#footer-desc {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 7em 0 2em;
}

#footer-logo, #footer-copyright {
    display: flex;
    align-items: baseline;
}
