html {
    height: 1000px;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, button {
    margin: 0;
    padding: 0;
}

:hover {
    transition-duration: 0.4s;
}

button {
    border-radius: 50em;
    padding: 0.5em;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    background-color: rgba(238, 238, 238, 0.23);
}

h1 {
    font-family: 'Gotham Bold', serif;
    font-size: 10em;
    color: aliceblue;
}

h2 {
    font-family: 'Gotham Bold', serif;
    font-size: 6em;
    color: aliceblue;
}

h3, h4, h5, h6, p, a {
    font-family: 'Gotham Bold', serif;
    color: aliceblue;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

#header {
    position: fixed;
    z-index: 100;
    top: 0;
}

#menu {
    height: 2em;
    margin: 1.5em 2em;
    padding-bottom: 1.5em;
    border-bottom: aliceblue solid 0.1em;
}

#menu button {
    height: fit-content;
    width: fit-content;
    margin: 0.5em;
}

#logo {
    float: left;
}

#nav {
    float: right;
}







#intro {
    position: relative;
    width: 100%;
    height: calc(100vh + 20em);
    padding-top: 6em;
    background: url("../1.jpg") no-repeat center;
    background-size: cover;
}

#company {
    height: calc(100vh - 6em);
}

#name {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 40vh;
    left: 5em;
}

#desc {
    position: absolute;
    width: 20em;
    top: 47vh;
    right: 5em;
}







#about-us {
    height: 20em;
    margin: 2em 3em;
    background-color: #c6c6c67d;
    border-radius: 3em;
    backdrop-filter: saturate(180%) blur(10px);
}